nav header {
    font-size: 1.7em;
    font-weight: bold;
}

nav ul {
    font-size: 1em;
    font-weight: 600;
    overflow-y: scroll;
}

main {
    margin-bottom: 10vw;
}

main section {
    color: #4d4e53;
    padding-right: 3vw;
}

main section p {
    text-align: justify;
}

main section header {
    padding: 2vw 0;    
}

main section ul {
    line-height: 2em;
}


main section code {
    display: block;
    background-color: #f7f7f7;
    word-break: break-word;
    white-space: pre;
    text-align: left;
    padding: 5px;
    margin: 30px;
    border-radius: 5px;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    nav {
        width: auto;   
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 992px) {
    nav ul {
        width: auto;
        max-height: 270px;
        overflow-y: auto;
        overflow-x: hidden;        
    } 
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    nav {
        position: fixed;
        height: 100%;
    }
    .card {
        height: 100%;
    }
}

